body {background-color:beige;

    font-family: "koh santepheap", serif;
    margin: 0;
}
/*header stuff*/
header {
    Background-color: #333;
    padding: 1rem 30px;
}
header h1.dog a {
    color: #CC5500;
    text-decoration: none;
}
/*main stuff here*/
main{
    padding: 1rem 10px;   
}
main h3{
  color: #CC5500;
}
main a{
    color: #43616C;
    text-decoration:none;
}
main a:hover{
    color: #2A3549;
    font-size:1.05rem;
}
/* footer feet*/
footer{
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #333
}
footer p{
    margin:0;
    letter-spacing: 2px;
}
