body {
    font-weight: 300;
    margin: 0;
    font-size: 16px;
}
/* header stuff here */
header {
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #039;
    font-size: 2.5rem;
}
header p {
    margin: 0;
    color: #b64e11;
    font-size: 1.22rem;
}

/* navigation stuff here */
nav {
    background-color: #039;
}
nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

nav .active a {
    background-color: #5d3a2a;
    color: #ffffff;
}
nav a:hover {
    background-color: #222;
}


/* main stuff here */
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #039;
    font-size: 2.5rem;
    margin: .5rem 0 .8rem 0;
}
main h2 {
    color: #5c3a2e;
    margin-bottom: .2rem;
}
main p {
    color: #2f3133;
    margin: 0 0 .8rem 0;
    line-height: 150%;
}

main ol {
    background-color: #eaeaea;
}
main dl dt {
    color: #f20519;
    font-weight: 700;
}
main dl dd {
    color: #024873;
    font-size: .9rem;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    color: #039;
}

main a {
    color: #039;
}
main a:hover {
    background-color:#eee;
}
    
/*gallery*/
figure.stoat{
    width: 30%;
    margin: 0 0 0 2;
    float: right;
}
figure.stoat img{
    width: 100%;
    height: auto;
}

figure.stoat figcaption {
    text-align: center;
    font-size: .75rem;
}

div.gallery{
    display: flex;
    flex-wrap:wrap;
}
div.gallery figure{
    margin:.5rem 2% 0 0;
}

div.gallery figcaption{
    text-align:center;
    font-size:.8rem;
    color: #039;
}


.weasel img{
    width: 50%;
}

/* footer stuff here */
footer {
    border-top: solid #ccc 2px;
    text-align: center;
    color: #024873;
    font-size: .7rem;
    padding: 1rem 0;
}

footer a {
    color: #024873;
}



/* Form stuff*/

.cat fieldset {
    border: 1px solid #43a0b6;
    border-radius: 3px;
    margin-bottom:1rem;
}

.cat legend{
    color: #43a0b6;
    font-size: .8rem;  
}

.cat label{
    margin: .5rem;
}

.cat label, .cat select, .cat [type=text], .cat [type=tel], .cat textarea{
    display: block;
    
}

.cat [type=text], .cat [type=tel], .cat select, .cat textarea{
    
    border:solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
}


.cat textare{
    height:6rem;
}

.cat :required {
    background-color: rgba(156,51,53,0.1)
    
}


.cat [type=submit]{
    
    background-color: #43a0b6;
    border: none;
    padding: 1rem 2rem;
    border-radius: 7px;
    color: white;
    margin: 1rem 0 0 1vw;
}